@model IList<CocktailItem>
@{
    ViewData["Title"] = "Cocktails Recipes";
}

<div class="text-center">
    <h1 class="display-4">@ViewBag.title</h1>
    <div style="display:flex;flex-wrap:wrap;justify-content: center;">
        @foreach (var cocktail in Model)
        {
            <partial name="CocktailViewPartial" model="cocktail" />
        }
    </div>
</div>
