@model IList<Cocktail>
@{
    ViewData["Title"] = "Cocktails Recipes";
}

<div class="text-center">
    <h1 class="display-4">@ViewBag.title</h1>
    @foreach (var cocktail in Model)
    {
        <partial name="CocktailViewPartial" model="cocktail" />
    }
</div>
