@model MealCategory
@{
    ViewData["Title"] = "Meal Recipes";
}

<div class="text-center">
    <h1 class="display-4">@ViewBag.title</h1>
    <form class="container-fluid" method="post" asp-action="MealRecipe">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Meal Name" name="id" aria-label="Meal name" aria-describedby="basic-addon1">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </form>
    <div class="container mt-5">
        <h2>Meal Categories</h2>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                @if(Model.categories != null)
                {
                    foreach (var category in Model.categories)
                    {
                        <a class="btn btn-secondary" asp-action="MealCategory" asp-route-id="@category.strCategory">@category.strCategory</a>
                    }
                }
            </div>
        </div>
    </div>
    <h2>Random Meals</h2>
    <div style="display:flex;flex-wrap:wrap;justify-content: center;">
        @if(Model.meals != null)
        {
            foreach (var meal in Model.meals)
            {
                if(meal != null)
                {
                    <partial name="MealViewPartial" model="meal" />
                }
            }
        }
    </div>
</div>
