@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Categories.MealCategory
@{
    ViewData["Title"] = "Meal Recipes";
}



<div class="text-center">
    <h1 class="display-4">@ViewBag.title</h1>
    <form class="container-fluid" method="post" asp-action="SearchMeal">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Meal Name" name="name" aria-label="Meal name" aria-describedby="basic-addon1">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </form>
    <partial name="CategoryViewPartial" />
    <h2>Random Meals</h2>
    <div style="display:flex;flex-wrap:wrap;justify-content: center;">
        @if(Model.meals != null)
        {
            foreach (var meal in Model.meals)
            {
                if(meal != null)
                {
                    <partial name="MealViewPartial" model="meal" />
                }
            }
        }
    </div>
</div>
