@model Catwithmeals
@{
    ViewData["Title"] = Model.category;
}

<div class="text-center">
    <partial name="CategoryViewPartial" />
    <h1 class="display-4">@ViewBag.title</h1>
    <div style="display:flex;flex-wrap:wrap;justify-content: center;">
        @if(Model.meals != null){
            foreach (var meal in Model.meals)
            {
                if (meal != null)
                {
                    <partial name="MealViewPartial" model="meal" />
                }
            }
        }}
    </div>
</div>