@model MealItem

<a asp-action="MealRecipe" asp-route-id="@Model.idMeal" style="padding:5px;">
    <div class="card border-primary mb-2" style="width:18rem;">
        <div class="card-header">
            @Model.strMeal
        </div>
        <div class="card-body">
            <img src="@Model.strMealThumb" style="border-radius:15%" width="150" />
        </div>

    </div>
</a>
