@model MealItem
@{
    var routeData = new RouteValueDictionary(Model).ToDictionary(kvp => kvp.Key, kvp => kvp.Value?.ToString());
}

<a asp-action="MealRecipe" asp-route-id="@Model.idMeal" style="padding:5px;">
    <div class="card border-primary mb-2" style="width:18rem;">
        <div class="card-header">
            @Model.strMeal
        </div>
        <div class="card-body">
            <img src="@Model.strMealThumb" style="border-radius:15%" width="150" />
        </div>
        <a id="favoriteButton" href="#" data-id="@Model.idMeal" data-soort="meal" class="btn btn-outline-warning favorite-button">Favorite</a>
    </div>
</a>

@section Scripts {
    <script>
        $(document).ready(function () {
            // Attach event handler to both anchor elements
            $('.favorite-button').click(function (e) {
                e.preventDefault(); // Prevent default behavior of anchor element

                var id = $(this).data('id');
                var soort = $(this).data('soort');

                $.ajax({
                    url: '/Profile/AddFavorite',
                    type: 'POST',
                    data: { id: id, soort: soort },
                    success: function (response) {
                        // Handle success response if needed
                        console.log("Recipe added to favorites!");
                    },
                    error: function (xhr, status, error) {
                        // Handle error response if needed
                        console.error("Error adding recipe to favorites:", error);
                    }
                });
            });
        });
    </script>
}